#javascript-hidden {
  display: none;
}

#operators-hidden {
  display: none;
}

#varibles-hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc
}

.clickable:hover {
  text-decoration: underline;
}

.clickable1 {
  cursor: pointer;
  color: #00cc1b
}

.clickable1:hover {
  text-decoration: underline;
}

.clickable2 {
  cursor: pointer;
  color: #aa00cc
}

.clickable2:hover {
  text-decoration: underline;
}