#javascript-hidden {
  display: none;
}

#operators-hidden {
  display: none;
}

#variables-hidden {
  display: none;
}

#naming-hidden {
  display: none;
}

#function-hidden {
  display: none;
}

#method-hidden {
  display: none;
}

#arguments-hidden {
  display: none;
}

#parameters-hidden {
  display: none;
}

#return-hidden {
  display: none;
}

#chaining-hidden {
  display: none;
}

#stings-hidden {
  display: none;
}

#boolean-hidden {
  display: none;
}

#undefined-hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc
}

.clickable:hover {
  text-decoration: underline;
}

.clickable1 {
  cursor: pointer;
  color: #00cc1b
}

.clickable1:hover {
  text-decoration: underline;
}

.clickable2 {
  cursor: pointer;
  color: #aa00cc
}

.clickable2:hover {
  text-decoration: underline;
}

.clickable3 {
  cursor: pointer;
  color: #00cc8f
}

.clickable3:hover {
  text-decoration: underline;
}

.clickable4 {
  cursor: pointer;
  color: #cc0700
}

.clickable4:hover {
  text-decoration: underline;
}

.clickable5 {
  cursor: pointer;
  color: #cc9600
}

.clickable5:hover {
  text-decoration: underline;
}

.clickable6 {
  cursor: pointer;
  color: #4a2997
}

.clickable6:hover {
  text-decoration: underline;
}

.clickable7 {
  cursor: pointer;
  color: #329729
}

.clickable7:hover {
  text-decoration: underline;
}

.clickable8 {
  cursor: pointer;
  color: #972976
}

.clickable8:hover {
  text-decoration: underline;
}

.clickable9 {
  cursor: pointer;
  color: #978c29
}

.clickable9:hover {
  text-decoration: underline;
}

.clickable10 {
  cursor: pointer;
  color: #302997
}

.clickable10:hover {
  text-decoration: underline;
}

.clickable11 {
  cursor: pointer;
  color: #299797
}

.clickable11:hover {
  text-decoration: underline;
}

.clickable12 {
  cursor: pointer;
  color: #369729
}

.clickable12:hover {
  text-decoration: underline;
}
