#javascript-hidden {
  display: none;
}

#operators-hidden {
  display: none;
}

#varibles-hidden {
  display: none;
}

#naming-hidden {
  display: none;
}

#function-hidden {
  display: none;
}

#method-hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc
}

.clickable:hover {
  text-decoration: underline;
}

.clickable1 {
  cursor: pointer;
  color: #00cc1b
}

.clickable1:hover {
  text-decoration: underline;
}

.clickable2 {
  cursor: pointer;
  color: #aa00cc
}

.clickable2:hover {
  text-decoration: underline;
}

.clickable3 {
  cursor: pointer;
  color: #00cc8f
}

.clickable3:hover {
  text-decoration: underline;
}

.clickable4 {
  cursor: pointer;
  color: #cc0700
}

.clickable4:hover {
  text-decoration: underline;
}

.clickable5 {
  cursor: pointer;
  color: #cc9600
}

.clickable5:hover {
  text-decoration: underline;
}